<tr>
  <td>
    <%= link_to admin_badge_path(badge) do %>
      <%= badge.title %>
    <% end %>
  </td>
  <td><%= badge.description %></td>
  <td><%= link_to t('.edit'), edit_admin_badge_path(badge) %></td>
  <td><%= link_to t('.delete'),
                  admin_badge_path(badge),
                  method: :delete,
                  data: { confirm: t('.confirm') } %>
  </td>
</tr>
