<hr>
<h4><%= t('.description') %> - <%= github_url('realvint', 'test-guru') %></h4>
<p><%= t('.project') %>
  <%= link_to 'Thinknetica', "https://www.thinknetica.com", target: '_blank' %>
  <%= t('.profession') %>
</p>
<h4><%= t('.author') %></h4>
<%= mail_to "victor.malukhin@gmail.com" %>
<%= full_year %>