<h1><%= link_to 'Система тестов', root_path %></h1>
<% if user_signed_in? %>
  <h3>Пользователь: <%= current_user.email %></h3>
  <%= link_to 'Тесты', tests_path %>
  <%= link_to 'Выход', destroy_user_session_path, method: :delete, data: { confirm: 'Вы хотите выйти из системы?'} %>
<% else %>
  <%= link_to 'Вход', new_user_session_path %>
  <%= link_to 'Регистрация', new_user_registration_path %>
<% end %>