<h1><%= link_to t('.main'), root_path %></h1>
<% if user_signed_in? %>
  <h3><%= t('.user') %>: <%= current_user.email %></h3>
  <%= link_to t('.tests'), tests_path %>
  <%= link_to t('.logout'), destroy_user_session_path, method: :delete, data: { confirm: t('.confirm')} %>
<% else %>
  <%= link_to t('.login'), new_user_session_path %>
  <%= link_to t('.signup'), new_user_registration_path %>
<% end %>