<h1><%= question_header(@question) %></h1>

<%= render 'shared/errors', resource: @question %>

<%= form_with model: [:admin, @test, @question], local: true do |f|%>

  <%= f.label :title %>
  <div class="input-group mb-3">
    <%=  f.text_field :title , class: 'form-control'%>
    <%= f.submit class: 'btn btn-outline-primary' %>
  </div>
<% end %>