<h1><%= t('.header') %></h1>

<p><%= link_to t('.back'), admin_test_path(@test) %></p>

<p><%= @question.title %></p>

<%= link_to t('.edit'), edit_admin_question_path(@question) %>
<%= link_to t('.delete'), admin_question_path(@question), method: :delete, data: {confirm: t('.confirm')} %>

<h2><%= t('.answers') %>:</h2>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>


