<tr>
  <td><%= link_to admin_test_path(test) do %><%= test.title %><% end %></td>
  <td align="center"><%= test.level %></td>
  <td align="center"><%= test.questions.count %></td>
  <td><%= link_to('Редактировать', edit_admin_test_path(test)) %></td>
  <td><%= link_to 'Удалить', admin_test_path(test), method: :delete, data: { confirm: 'Удалить тест?' }  %></td>
</tr>