<h1><%= t('.title') %>: <%= @test.title %></h1>

<p><%= link_to t('.main'), admin_tests_path %></p>

<hr>

<h3><%= t('.questions') %></h3>

<p><%= link_to t('.new_question'), new_admin_test_question_path(@test) %></p>

<ol>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ol>

<% if @questions.empty?  %>
  <p><%= t('.empty') %></p>
<% end %>
