<h1><%= t('.header') %></h1>

<table border="1">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions') %></th>
      <th></th>
    </tr>
  </thead>
 <tbody>
  <%= render @tests %>
 </tbody>
</table>

