
<h2><%= t('.header') %></h2>

<h3><%= t('.admin') %> <%= current_user.email %></h3>

<%= link_to t('.main'), tests_path %>
<%= link_to t('.logout'), destroy_user_session_path, method: :delete %>

<div class="<%= "active" if I18n.locale == :ru %>">
  <%= link_to 'Русский', { lang: :ru } %>
</div>
<div class="<%= "active" if I18n.locale == :en %>">
  <%= link_to 'English ', { lang: :en } %>
</div>