<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.header') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'admin/shared/header' %>
      <div class="row pt-2">
        <div class="col-md-12 col-lg-12 pt-2">
          <%  if notice.present? %>
            <div class="alert alert-success alert-dismissible">
              <%= sanitize(notice) %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <%  elsif alert.present? %>
            <div class="alert alert-danger alert-dismissible">
              <%= sanitize(alert) %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render '/shared/footer' %>
    </div>
  </body>
</html>